<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kse.wmsv2.oa_et_001.mapper.OAET001ScreenMapper">
    <select id="getAwbNoList" parameterType="hashMap" resultType="string">
        SELECT
            AWBNO
        FROM
            AE_DATA
        WHERE
            1 = 1
            AND TRUCKNODATE = #{truckNoDate}
            AND LINKTRUCKNO = #{linkTruckNo}
<!--            AND CUSTOMSPLACECD = #{deptCd}-->
            AND DELETEDATE IS NULL
            AND SPSDOCCLASSCD IN ('0','2')
        GROUP BY
            AWBNO
        ORDER BY
            AWBNO
    </select>
    <select id="getOtherSearchInfo" parameterType="string" resultType="hashMap">
        SELECT DISTINCT
            DATE_FORMAT(TRUCKNODATE,'%Y/%m/%d 0:00:00') AS TRUCKNODATE
            , LINKTRUCKNO
        FROM
            AE_DATA
        WHERE
            AWBNO = #{value}
            AND DELETEDATE IS NULL
            AND SPSDOCCLASSCD IN ('0','2')
    </select>
    <select id="searchData"  parameterType="hashMap" resultType="com.kse.wmsv2.oa_et_001.dao.OAET001SearchResultDao">
        SELECT DISTINCT
            AD.AWBNO AS AWBNO,
            CASE
            WHEN IFNULL(AD.EDITFLG,'0') = '0' THEN '0'
            WHEN IFNULL(AD.EDITFLG,'0') = '1' THEN '1'
            ELSE '0'
            END AS MISUMI,
            CASE
            WHEN IFNULL(AD.EXPREPORTNO,'') != '' THEN '〇'
            WHEN IFNULL(AD.EXPREPORTNO,'') = ''
            AND (IFNULL(AD.REMARKS,'') != '' AND AD.REMARKS != AD.CUSTOMSPLACECD ) THEN AD.REMARKS
            ELSE ''
            END AS HARD,
            CASE
            WHEN CONCAT(IFNULL(ACN2.JOUKEN01,''),IFNULL(ACN2.JOUKEN02,''),IFNULL(ACN2.JOUKEN03,''),IFNULL(ACN2.JOUKEN04,''),IFNULL(ACN2.JOUKEN05,'')
            ,IFNULL(ACN2.JOUKEN06,''),IFNULL(ACN2.JOUKEN07,''),IFNULL(ACN2.JOUKEN08,''),IFNULL(ACN2.JOUKEN09,''),IFNULL(ACN2.JOUKEN10,''),IFNULL(ACN2.JOUKEN11,'')
            ,IFNULL(ACN2.JOUKEN12,''),IFNULL(ACN2.JOUKEN13,''),IFNULL(ACN2.JOUKEN14,''),IFNULL(ACN2.JOUKEN15,''),IFNULL(ACN2.JOUKEN16,''),IFNULL(ACN2.JOUKEN17,'')
            ,IFNULL(ACN2.JOUKEN18,''),IFNULL(ACN2.JOUKEN19,''),IFNULL(ACN2.JOUKEN20,''),IFNULL(ACN2.JOUKEN21,''),IFNULL(ACN2.JOUKEN22,''),IFNULL(ACN2.JOUKEN23,'')
            ,IFNULL(ACN2.JOUKEN24,''),IFNULL(ACN2.JOUKEN25,'')) != '' THEN '1' ELSE '0'
            END AS MANIHUKA,
            IFNULL(ACN1.REMARKS,'') AS COMMENTTOOLTIP,
            CASE
            WHEN IFNULL(ACN1.REMARKS,'') = '' THEN '0' ELSE '1' END AS COMMENT,
            AD.REPORTNAYCLASSCD,
            CASE
            WHEN AD.REPORTNAYCLASSCD != '00' THEN AN.NAME ELSE '' END AS SINKOKUHUKA,
            AD.ESAFLG,
            CASE
            WHEN AD.ESAFLG = '1' THEN '0' ELSE '1' END AS EDA,
            CASE
            WHEN AD.ESAFLG = '2' AND IFNULL(AD.FOBAMO,AD.INVOICEVALUE) != AD.LINKFOBAMO THEN '1'
            WHEN AD.ESAFLG = '1' AND AD.FOBAMO != AD.LINKFOBAMO THEN '1'
            WHEN AD.CARRYINGPIECE != AD.LINKPIECE THEN '1'
            ELSE '0'
            END AS SAI,
            CASE
            WHEN AD.AUTOESAFLG = '2' AND AD.ESAFLG = '1' THEN '1' ELSE '0' END AS EHANDAN,
            AD.CWBNO,AD.EXPCUSTOMERNO,AD.EXPCUSTOMERDEPTCD,AD.EXPCUSTOMEROCSDEPTCD,
            CONCAT(IFNULL(AD.EXPCUSTOMERNO,''),'-',IFNULL(AD.EXPCUSTOMERDEPTCD,''),'-',IFNULL(AD.EXPCUSTOMEROCSDEPTCD,'')) AS EXPCUSTOMER,
            AD.EXPCUSTOMERNAME,AD.EXPCUSTOMERADD_1,AD.EXPCUSTOMERADD_2,AD.EXPCUSTOMERADD_3,AD.EXPCUSTOMERADD_4,AD.EXPCUSTOMERADD_LUMP,
            AD.EXPCUSTOMERPOSTCODE,AD.EXPCUSTOMERTELNO,AD.CARRYINGPIECE,AD.CARRYINGWEIGHT,AD.LINKPIECE,AD.LINKWEIGHT,AD.CONSIGNEENO,
            AD.CONSIGNEEDEPTCD,AD.CONSIGNEEOCSDEPTCD,
            CONCAT(IFNULL(AD.CONSIGNEENO,''),'-',IFNULL(AD.CONSIGNEEDEPTCD,''),'-',IFNULL(AD.CONSIGNEEOCSDEPTCD,'')) AS CONSIGNEE,
            AD.CONSIGNEENAME,AD.CONSIGNEEADD_1,AD.CONSIGNEEADD_2,AD.CONSIGNEEADD_3,AD.CONSIGNEEADD_4,AD.CONSIGNEEADD_LUMP,AD.CONSIGNEECOUNTRY,
            AD.CONSIGNEEPOSTCODE,AD.INVOICEVALCLASSCD,AD.INVOICEVALCONCD,AD.INVOICECURCD,AD.INVOICEVALUE,AD.FOBCURRENCYCD,AD.FOBAMO,AD.LINKFOBAMO,
            AD.ITEM,AD.REPORTVALUE,AD.LINKLASTDESTINATIONCD,AD.LASTDESTINATIONCD,AD.NEWS_2,AD.REPORTCONDITION AS DATAREPORTCONDITION,AD.CUSTOMSKINDCD_1,AD.REPORTDEPCD,AD.REPORTDIVISIONCD,
            AD.EXPREPORTPLANDATE,AD.INHOUSEREFNUMBER,AD.AWBNO DATAAWBNO,AD.BWBNO,AD.DIRECTIONSTRUCKNO,AD.LINKTRUCKNO,AD.CUSTOMSPLACECD,AD.DESTINATION,
            AD.BONDEDWAREHOUSECD AS DATABONDEDWAREHOUSECD,AD.DEPPORT,AH.AWBNO HEADAWBNO,AH.REPORTCONDITION HEADREPORTCONDITION,AH.LOADINGPLANFLT_1,AH.LOADINGPLANFLT_2,AH.DEPPORTCD,AH.BONDEDWAREHOUSECD AS HEADBONDEDWAREHOUSECD,
            AH.FLTDESTINATION,AH.CONSOLIDATIONFLAG,ACN2.JOUKEN01, ACN2.JOUKEN02, ACN2.JOUKEN03, ACN2.JOUKEN04, ACN2.JOUKEN05, ACN2.JOUKEN06, ACN2.JOUKEN07,
            ACN2.JOUKEN08, ACN2.JOUKEN09, ACN2.JOUKEN10, ACN2.JOUKEN11, ACN2.JOUKEN12, ACN2.JOUKEN13, ACN2.JOUKEN14, ACN2.JOUKEN15,ACN2.JOUKEN16,
            ACN2.JOUKEN17, ACN2.JOUKEN18, ACN2.JOUKEN19, ACN2.JOUKEN20,ACN2.JOUKEN21, ACN2.JOUKEN22, ACN2.JOUKEN23, ACN2.JOUKEN24, ACN2.JOUKEN25,
            AD.EXPREPORTNO,AD.REGDATE,CU.USERNAME,AD.EDITREGDATE,AD.EDAMESSAGEMAKEFLAG,AD.BONWAREHOCURDATE,AD.REPORTDATE,AD.PERMITDATE
        FROM
            AE_DATA AS AD
        LEFT JOIN
            AE_HEAD AS AH
        ON
            AD.AWBNO = AH.AWBNO
        LEFT JOIN
            AM_NAME AS AN
        ON
            AD.REPORTNAYCLASSCD = AN.NAMECD
            AND AN.NAMECLASS = '0033'
            AND AN.DEPARTMENTCD = 'ALL'
        LEFT JOIN
            AM_CUSTOMER_NUMBER AS ACN1
        ON
            AD.EXPCUSTOMERNO = ACN1.CUSTOMERNO
            AND AD.EXPCUSTOMERDEPTCD = ACN1.DEPTCD
            AND AD.EXPCUSTOMEROCSDEPTCD = ACN1.OCSDEPTCD
        LEFT JOIN
            (SELECT
                CUSTOMERNO,DEPTCD,OCSDEPTCD,
                CASE WHEN CONDITIONFLG01 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='01'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN01
                ,CASE WHEN CONDITIONFLG02 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='02'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN02
                ,CASE WHEN CONDITIONFLG03 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='03'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN03
                ,CASE WHEN CONDITIONFLG04 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='04'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN04
                ,CASE WHEN CONDITIONFLG05 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='05'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN05
                ,CASE WHEN CONDITIONFLG06 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='06'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN06
                ,CASE WHEN CONDITIONFLG07 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='07'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN07
                ,CASE WHEN CONDITIONFLG08 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='08'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN08
                ,CASE WHEN CONDITIONFLG09 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='09'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN09
                ,CASE WHEN CONDITIONFLG10 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='10'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN10
                ,CASE WHEN CONDITIONFLG11 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='11'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN11
                ,CASE WHEN CONDITIONFLG12 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='12'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN12
                ,CASE WHEN CONDITIONFLG13 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='13'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN13
                ,CASE WHEN CONDITIONFLG14 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='14'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN14
                ,CASE WHEN CONDITIONFLG15 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='15'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN15
                ,CASE WHEN CONDITIONFLG16 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='16'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN16
                ,CASE WHEN CONDITIONFLG17 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='17'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN17
                ,CASE WHEN CONDITIONFLG18 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='18'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN18
                ,CASE WHEN CONDITIONFLG19 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='19'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN19
                ,CASE WHEN CONDITIONFLG20 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='20'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN20
                ,CASE WHEN CONDITIONFLG21 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='21'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN21
                ,CASE WHEN CONDITIONFLG22 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='22'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN22
                ,CASE WHEN CONDITIONFLG23 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='23'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN23
                ,CASE WHEN CONDITIONFLG24 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='24'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN24
                ,CASE WHEN CONDITIONFLG25 = '1' THEN IFNULL((SELECT NAME FROM AM_NAME WHERE DEPARTMENTCD = 'ALL' AND NAMECLASS = '0025' AND NAMECD ='25'AND CHARACTERITEM1 = '1'),'') END AS JOUKEN25
            FROM
                AM_CUSTOMER_NUMBER) AS ACN2
        ON
            AD.EXPCUSTOMERNO = ACN2.CUSTOMERNO
            AND AD.EXPCUSTOMERDEPTCD = ACN2.DEPTCD
            AND AD.EXPCUSTOMEROCSDEPTCD = ACN2.OCSDEPTCD
        LEFT JOIN
            CM_USER AS CU
        ON
            AD.EDITREGUSERCD = CU.USERCD
        WHERE
            1 = 1
        <choose>
            <when test="cwbNo != null and cwbNo != ''">
                AND AD.CWBNO = #{cwbNo}
            </when>
            <when test="awbNo != null and awbNo != ''">
                AND AD.AWBNO = #{awbNo}
                AND AD.TRUCKNODATE = #{truckNoDate}
<!--                AND AD.CUSTOMSPLACECD = #{deptCd}-->
                AND AD.LINKTRUCKNO = #{linkTruckNo}
            </when>
        </choose>
<!--            AND CUSTOMSPLACECD = #{deptCd}-->
        ORDER BY
            AD.REPORTNAYCLASSCD ASC,
            MISUMI ASC,
            EDA DESC,
            MANIHUKA DESC,
            EHANDAN DESC,
            COMMENT DESC,
            SAI DESC,
            AD.EXPCUSTOMERNAME
    </select>
    <select id="searchAllStatus" parameterType="hashMap" resultType="com.kse.wmsv2.oa_et_001.dao.OAET001StatusDao">
        SELECT DISTINCT
            EH.REGDATE AS REGDATE, CU.USERNAME AS REGUSERCD, AN.NAME AS STATUSCD
        FROM
            AE_STATUS_HISTORY EH
        LEFT JOIN
            AM_NAME AN
        ON
            EH.STATUSCD = AN.NAMECD
            AND AN.NAMECLASS IN ( '0010','0011')
        LEFT JOIN
            CM_USER CU
        ON
            EH.REGUSERCD = CU.USERCD
        WHERE
            EH.BUSINESSCLASS IN ('01','02')
            AND EH.CWBNO = #{cwbNo}
            AND EH.AWBNO IN ('00',#{awbNo})
<!--            AND EH.AWBNO = #{awbNo}-->
        ORDER BY
            REGDATE ASC
    </select>
    <select id="selectMECDetail" parameterType="hashMap" resultType="com.kse.wmsv2.oa_et_001.dao.OAET001MECDao">
        SELECT
            T1.CWBNO, T1.AWBNO, IFNULL(T1.PROCNO,'') AS PROCNO, IFNULL(T1.EDITFLG,'0') AS EDITFLG
            ,IFNULL(T1.ESAFLG,'') AS ESAFLG, T1.TRUCKNODATE, IFNULL(T1.LINKCONNECTFLG,'') AS LINKCONNECTFLG
            , T2.CONDITIONFLG01, T2.CONDITIONFLG02, T2.CONDITIONFLG03, T2.CONDITIONFLG04, T2.CONDITIONFLG05
            , T2.CONDITIONFLG06, T2.CONDITIONFLG07, T2.CONDITIONFLG08, T2.CONDITIONFLG09, T2.CONDITIONFLG10
            , T2.CONDITIONFLG11, T2.CONDITIONFLG12, T2.CONDITIONFLG13, T2.CONDITIONFLG14, T2.CONDITIONFLG15
            , T2.CONDITIONFLG16, T2.CONDITIONFLG17, T2.CONDITIONFLG18, T2.CONDITIONFLG19, T2.CONDITIONFLG20
            , T2.CONDITIONFLG21, T2.CONDITIONFLG22, T2.CONDITIONFLG23, T2.CONDITIONFLG24, T2.CONDITIONFLG25
            , T2.CONDITIONCOMMENT, T2.REMARKS, T1.REPORTCONDITION, T1.CUSTOMSKINDCD_1, T1.REPORTDEPCD
            , T1.REPORTDIVISIONCD, T3.CONTROLDATE, T1.EXPREPORTPLANDATE, T1.EXPCUSTOMERNO, T1.EXPCUSTOMERDEPTCD
            , T1.EXPCUSTOMEROCSDEPTCD,T1.EXPCUSTOMERNAME,T1.EXPCUSTOMERPOSTCODE,T1.EXPCUSTOMERADD_1,T1.EXPCUSTOMERADD_2
            ,T1.EXPCUSTOMERADD_3,T1.EXPCUSTOMERADD_4,T1.EXPCUSTOMERADD_LUMP,T1.EXPCUSTOMERTELNO,T1.EXPCUSTOMERADD
            ,T1.CONSIGNEENO,T1.CONSIGNEEDEPTCD,T1.CONSIGNEEOCSDEPTCD,T1.CONSIGNEENAME,T1.CONSIGNEEPOSTCODE,T1.CONSIGNEEADD_1
            ,T1.CONSIGNEEADD_2,T1.CONSIGNEEADD_3,T1.CONSIGNEEADD_4,T1.CONSIGNEEADD_LUMP,T1.CONSIGNEEADD,T1.CONSIGNEECOUNTRY
            ,T1.CUSTOMSOFFICEJANITORCD,T1.CUSTOMSOFFICEJANITORNAME,T1.CUSTOMSOFFICEJANITORRENO,T1.CUSTOMSCHECKCLASS,T1.EDITGROUP
            ,T1.DEFAULTSET,T1.BONDEDWAREHOUSECD,T1.CARRYINGPIECE,T1.CARRYINGWEIGHT,T1.SHIPPERSSECCD,T1.SHIPPERSREFNO
            ,T1.LASTDESTINATIONCD,T1.DEPPORT,T1.DISCERNMENTMARK,T1.INSPECTIONWITNESS,T1.FOBCURRENCYCD,T1.FOBAMO,T1.REPORTVALUE
            ,T1.ITEM,T1.NEWS_2,T1.INVOICEVALCLASSCD,T1.INVOICEVALCONCD,T1.INVOICECURCD,T1.INVOICEVALUE,T1.LARGESMALLFLG
            ,T1.IF_FARECURRENCYCD,T1.IF_FARE,T1.IF_INSURANCECURCD,T1.IF_INSURANCEAMOUNT,T1.BASICPRICETOTAL
            ,IFNULL(T1.INHOUSEREFNUMBER,'') AS INHOUSEREFNUMBER
            ,IFNULL(
                (SELECT
                    COUNT(*) AS CNT
                FROM
                    CS_MESSAGE_ERROR AS ERR
                WHERE
                    ERR.IMPORTEXPORTCLASS = '2'
                    AND ERR.AWBNO = T1.AWBNO
                    AND ERR.CWBNO = T1.CWBNO
                )
            , 0) AS ERRORCNT
            ,IFNULL(
                (SELECT
                    IMAGEPATH
                FROM
                    CS_IMAGE_MANAGEMENT AS IMG
                WHERE
                    IMG.IMPORTEXPORTCLASS = '2'
                    AND IMG.IMAGECLASS = 'CW'
                    AND IMG.AWBNO = T1.AWBNO
                    AND IMG.CWBNO = T1.CWBNO
                LIMIT 1)
            , '') AS PDFURL
            ,IFNULL(
            (SELECT
            IMAGEPATH
            FROM
            CS_IMAGE_MANAGEMENT AS IMG
            WHERE
            IMG.IMPORTEXPORTCLASS = '2'
            AND IMG.IMAGECLASS = 'IN'
            AND IMG.AWBNO = T1.AWBNO
            AND IMG.CWBNO = T1.CWBNO
            LIMIT 1)
            , '') AS PDFURL2
        FROM
            AE_DATA AS T1
        LEFT JOIN
            AM_CUSTOMER_NUMBER AS T2
        ON
            T1.EXPCUSTOMERNO = T2.CUSTOMERNO
            AND T1.EXPCUSTOMERDEPTCD = T2.DEPTCD
            AND T1.EXPCUSTOMEROCSDEPTCD = T2.OCSDEPTCD
        LEFT JOIN
            CM_CONTROL AS T3
        ON
            CONTROLCD = '1'
        WHERE
            T1.DELETEDATE IS NULL
            AND T1.SPSDOCCLASSCD IN ('0','2')
            AND T1.CWBNO = #{cwbNo}
        <if test ="awbNo != '' and awbNo != null  " >
            AND T1.AWBNO = #{awbNo}
        </if>
            AND T1.CUSTOMSPLACECD = #{deptCd}
    </select>
    <select id="selectEDAHeader" parameterType="hashMap" resultType="com.kse.wmsv2.oa_et_001.dao.OAET001EDAHeaderDao">
        SELECT
            T1.CWBNO, T1.AWBNO, IFNULL(T1.PROCNO, '') AS PROCNO, IFNULL(T1.EDITFLG, '') AS EDITFLG
            , IFNULL(T1.ESAFLG, '') AS ESAFLG, T1.TRUCKNODATE, T2.CONDITIONFLG01, T2.CONDITIONFLG02
            , T2.CONDITIONFLG03, T2.CONDITIONFLG04, T2.CONDITIONFLG05, T2.CONDITIONFLG06
            , T2.CONDITIONFLG07, T2.CONDITIONFLG08, T2.CONDITIONFLG09, T2.CONDITIONFLG10
            , T2.CONDITIONFLG11, T2.CONDITIONFLG12, T2.CONDITIONFLG13, T2.CONDITIONFLG14
            , T2.CONDITIONFLG15, T2.CONDITIONFLG16, T2.CONDITIONFLG17, T2.CONDITIONFLG18
            , T2.CONDITIONFLG19, T2.CONDITIONFLG20, T2.CONDITIONFLG21, T2.CONDITIONFLG22
            , T2.CONDITIONFLG23, T2.CONDITIONFLG24, T2.CONDITIONFLG25, T2.CONDITIONCOMMENT
            , T2.REMARKS, IFNULL(T1.LINKCONNECTFLG, '0') AS LINKCONNECTFLG, T1.LARGESMALLFLG
            , T1.REPORTKINDCD, T1.CUSTOMSKINDCD_1, T1.CUSTOMSKINDCD_2, T1.REPORTDEPCD
            , T1.REPORTDIVISIONCD, T3.NUMERICITEM1, T1.EXPREPORTPLANDATE, T4.CONTROLDATE
            , T1.EXPCUSTOMERNO, T1.EXPCUSTOMERDEPTCD, T1.EXPCUSTOMEROCSDEPTCD, T1.EXPCUSTOMERNAME
            , T1.EXPCUSTOMERPOSTCODE, T1.EXPCUSTOMERADD_1, T1.EXPCUSTOMERADD_2, T1.EXPCUSTOMERADD_3
            , T1.EXPCUSTOMERADD_4, T1.EXPCUSTOMERTELNO, T1.EXPCUSTOMERADD, T1.CONSIGNEENO
            , T1.CONSIGNEEDEPTCD, T1.CONSIGNEEOCSDEPTCD, T1.CONSIGNEENAME, T1.CONSIGNEEPOSTCODE
            , T1.CONSIGNEEADD_1, T1.CONSIGNEEADD_2, T1.CONSIGNEEADD_3, T1.CONSIGNEEADD_4
            , T1.CONSIGNEECOUNTRY, T1.CONSIGNEEADD, T1.REPORTPLANPERSONCD, T1.CUSTOMSOFFICEJANITORCD
            , T1.CUSTOMSOFFICEJANITORNAME, T1.CUSTOMSOFFICEJANITORRENO, T1.BONDEDWAREHOUSECD
            , T1.CARRYINGPIECE, T1.SHIPPERSSECCD, T1.SHIPPERSREFNO, T1.LASTDESTINATIONCD
            , T1.LASTDESTNAME, T1.DEPPORT, T1.TRADETYPEMARK, T1.DEPPLANINGDATE, T1.PREEXAMCARGODISC
            , T1.DISCERNMENTMARK, T1.INSPECTIONWITNESS, T1.INVOICEDISCERNMENT, T1.ELEINVOICERENO
            , T1.INVOICENO, T1.INVOICEVALCONCD, T1.INVOICECURCD, T1.INVOICEVALUE, T1.INVOICEVALCLASSCD
            , T1.FOBCURRENCYCD, T1.FOBAMO, T1.ITEM, T1.EXPSTATITEMNO, T1.BASICPRICETOTAL
            , T1.NEEDLOADINGRECDISC, T1.NEWS_1, T1.NEWS_2, T1.NEWSSHIPPER
            , IFNULL(T1.INHOUSEREFNUMBER, '') AS INHOUSEREFNUMBER, T1.CUSTOMSCHECKCLASS, T1.EDITGROUP
            , T1.DEFAULTSET, T1.CUSTOMSEXAMMARK, T1.EXPRECOFLG, T1.EXPRECDISC_1, T1.EXPRECNO_1
            , T1.EXPRECDISC_2, T1.EXPRECNO_2, T1.EXPRECDISC_3, T1.EXPRECNO_3, T1.EXPRECDISC_4
            , T1.EXPRECNO_4, T1.EXPRECDISC_5, T1.EXPRECNO_5, T1.EXPRECDISC_6, T1.EXPRECNO_6
            , T1.EXPRECDISC_7, T1.EXPRECNO_7, T1.EXPRECDISC_8, T1.EXPRECNO_8, T1.EXPRECDISC_9
            , T1.EXPRECNO_9, T1.EXPRECDISC_10, T1.EXPRECNO_10, T1.EXPRECDISC_11, T1.EXPRECNO_11
            , T1.EXPRECDISC_12, T1.EXPRECNO_12, T1.EXPRECDISC_13, T1.EXPRECNO_13, T1.EXPRECDISC_14
            , T1.EXPRECNO_14, T1.EXPRECDISC_15, T1.EXPRECNO_15, T1.IF_FARECURRENCYCD, T1.IF_FARE
            , T1.IF_INSURANCECURCD, T1.IF_INSURANCEAMOUNT, T5.EDASTATUS
            ,IFNULL(
                (SELECT
                    COUNT(*) AS CNT
                FROM
                    CS_MESSAGE_ERROR AS ERR
                WHERE
                    ERR.IMPORTEXPORTCLASS = '2'
                    AND ERR.AWBNO = T1.AWBNO
                    AND ERR.CWBNO = T1.CWBNO
                )
            ,0) AS ERRORCNT
            ,IFNULL(
                (SELECT
                    IMAGEPATH
                FROM
                    CS_IMAGE_MANAGEMENT AS IMG
                WHERE
                    IMG.IMPORTEXPORTCLASS = '2'
                    AND IMG.IMAGECLASS = 'CW'
                    AND IMG.AWBNO = T1.AWBNO
                    AND IMG.CWBNO = T1.CWBNO
                LIMIT 1)
            , '') AS PDFURL
            ,IFNULL(
            (SELECT
            IMAGEPATH
            FROM
            CS_IMAGE_MANAGEMENT AS IMG
            WHERE
            IMG.IMPORTEXPORTCLASS = '2'
            AND IMG.IMAGECLASS = 'IN'
            AND IMG.AWBNO = T1.AWBNO
            AND IMG.CWBNO = T1.CWBNO
            LIMIT 1)
            , '') AS PDFURL2
        FROM
            AE_DATA AS T1
        LEFT JOIN
            AM_CUSTOMER_NUMBER AS T2
        ON
            T1.EXPCUSTOMERNO = T2.CUSTOMERNO
            AND T1.EXPCUSTOMERDEPTCD = T2.DEPTCD
            AND T1.EXPCUSTOMEROCSDEPTCD = T2.OCSDEPTCD
        LEFT JOIN
            AM_NAME AS T3
        ON
            T3.DEPARTMENTCD = #{deptCd}
            AND T3.NAMECLASS = '0031'
            AND T3.NAMECD = T1.DIRECTIONSTRUCKNO
        LEFT JOIN
            CM_CONTROL AS T4
        ON
            T4.CONTROLCD = '1'
        LEFT JOIN
            (
            SELECT DISTINCT
                CWBNO,
                1 AS EDASTATUS
            FROM
                AE_STATUS_HISTORY
            WHERE
                BUSINESSCLASS = '01'
                AND STATUSCD = 'EC01000'
            ) AS T5
        ON
            T1.CWBNO = T5.CWBNO
        WHERE
            T1.DELETEDATE IS NULL
            AND T1.SPSDOCCLASSCD IN ('0','2')
            AND T1.CWBNO = #{cwbNo}
            AND
                (T1.CUSTOMSPLACECD = #{deptCd}
                OR
                T1.CUSTOMSPLACECD IS NULL)
    </select>
    <select id="selectEDADetail" parameterType="hashMap" resultType="com.kse.wmsv2.oa_et_001.dao.OAET001EDADetailDao">
        SELECT
            CWBNO,SEQ,EXPSTATITEMNO,NACCSCD,ITEM,AMO_1,AMOUNIT_1
            ,AMO_2,AMOUNIT_2,BASICPRICEDIVCOEF,BASICPRICECURCD
            ,BASICPRICEAMO,OTHERLAWCD_1,OTHERLAWCD_2,OTHERLAWCD_3
            ,OTHERLAWCD_4,OTHERLAWCD_5,EXPTRADECONTCD,FOREXCHLOW48
            ,CUSTOMSEXEMPTCD,INCONSTAXEXEMPCD,INCONSTAXEXEMPDISC
        FROM
            AE_DATA_DETAIL
        WHERE
            CWBNO = #{cwbNo}
        ORDER BY
            SEQ
    </select>
    <update id="editExportData" parameterType="hashMap">
        UPDATE
            AE_DATA
        SET
            EDITFLG = '1'
            , CURRENTCUSTOMSSTATUSCD = #{stsCd}
            , EDITREGUSERCD = #{userCd}
            , EDITREGDATE = #{date}
            , EDITUPDATEUSERCD = #{userCd}
            , EDITUPDATEDATE = #{date}
            , EXPCUSTOMERTELNO = #{expCustomerTelNo}
        WHERE
            CWBNO = #{cwbNo}
    </update>
    <update id="editMECData" parameterType="com.kse.wmsv2.oa_et_001.dao.OAET001MECDao">
        UPDATE
            AE_DATA
        SET
            EDITFLG = '1',CURRENTCUSTOMSSTATUSCD = "EC00500",ESAFLG = '1',CWBNO = #{cwbNo}
            ,REPORTCONDITION = #{reportCondition},CUSTOMSKINDCD_1 = #{customsKindCd1},REPORTDEPCD = #{reportDepCd}
            ,REPORTDIVISIONCD = #{reportDivisionCd},EXPREPORTPLANDATE = #{expReportPlanDate}
            ,EXPCUSTOMERNO = #{expCustomerNo},EXPCUSTOMERDEPTCD = #{expCustomerDeptCd}
            ,EXPCUSTOMEROCSDEPTCD = #{expCustomerOcsDeptCd},EXPCUSTOMERNAME = #{expCustomerName}
            ,EXPCUSTOMERPOSTCODE = #{expCustomerPostcode},EXPCUSTOMERADD_1 = #{expCustomerAdd1}
            ,EXPCUSTOMERADD_2 = #{expCustomerAdd2},EXPCUSTOMERADD_3 = #{expCustomerAdd3}
            ,EXPCUSTOMERADD_4 = #{expCustomerAdd4},EXPCUSTOMERADD_LUMP = #{expCustomerAddLump}
            ,EXPCUSTOMERADD = #{expCustomerAdd},EXPCUSTOMERTELNO = #{expCustomerTelNo},CONSIGNEENO = #{consigneeNo}
            ,CONSIGNEEDEPTCD = #{consigneeDeptCd},CONSIGNEEOCSDEPTCD = #{consigneeOcsDeptCd}
            ,CONSIGNEENAME = #{consigneeName},CONSIGNEEPOSTCODE = #{consigneePostcode}
            ,CONSIGNEEADD_1 = #{consigneeAdd1},CONSIGNEEADD_2 = #{consigneeAdd2},CONSIGNEEADD_3 = #{consigneeAdd3}
            ,CONSIGNEEADD_4 = #{consigneeAdd4},CONSIGNEEADD_LUMP = #{consigneeAddLump},CONSIGNEEADD = #{consigneeAdd}
            ,CONSIGNEECOUNTRY = #{consigneeCountry},CUSTOMSOFFICEJANITORCD = #{customsOfficeJanitorCd}
            ,CUSTOMSOFFICEJANITORRENO = #{customsOfficeJanitorReNo}
            ,CUSTOMSOFFICEJANITORNAME = #{customsOfficeJanitorName},BONDEDWAREHOUSECD = #{bondedWarehouseCd}
            ,CARRYINGPIECE = #{carryingPiece},CARRYINGWEIGHT = #{carryingWeight},SHIPPERSSECCD = #{shippersSecCd}
            ,SHIPPERSREFNO = #{shippersRefNo},LASTDESTINATIONCD = #{lastDestinationCd},DEPPORT = #{depPort}
            ,DISCERNMENTMARK = #{discernmentMark},INSPECTIONWITNESS = #{inspectionWitness}
            ,FOBCURRENCYCD = #{fobCurrencyCd},FOBAMO = #{fobAmo},REPORTVALUE = #{reportValue},ITEM = #{item}
            ,NEWS_2 = #{news2},INVOICEVALCLASSCD = #{invoiceValClassCd},INVOICEVALCONCD = #{invoiceValConCd}
            ,INVOICECURCD = #{invoiceCurCd},INVOICEVALUE = #{invoiceValue},LARGESMALLFLG = #{largeSmallFlg}
            ,IF_FARECURRENCYCD = #{ifFareCurrencyCd},IF_FARE = #{ifFare},IF_INSURANCECURCD = #{ifInsuranceCurCd}
            ,IF_INSURANCEAMOUNT = #{ifInsuranceAmount},BASICPRICETOTAL = #{basicPriceTotal},EDITREGUSERCD = #{userCd}
            ,EDITREGDATE = #{date},EDITUPDATEUSERCD = #{userCd},EDITUPDATEDATE = #{date}
        WHERE
            CWBNO = #{cwbNo}
    </update>
    <select id="selectDeptCdList" resultType="hashMap">
        SELECT
            NAMECD AS VALUE , NAME AS OPTION
        FROM
            AM_NAME
        WHERE
            NAMECLASS = '0008'
        ORDER BY
            NAMECD ASC
    </select>
    <select id="selectAgencyList" resultType="hashMap">
        SELECT
            NAMECD AS VALUE , NAME AS OPTION
        FROM
            AM_NAME
        WHERE
            NAMECLASS = '0404'
        ORDER BY
            NAMECD ASC
    </select>
    <select id="selectDefault" parameterType="hashMap" resultType="com.kse.wmsv2.oa_et_001.dao.OAET001DefaultDao">
        SELECT DISTINCT
            NAMECD,
            NAME
            , IFNULL(CHARACTERITEM1,'') AS CHARACTERITEM
            , IFNULL(CHARACTERITEM2,'') AS TABLENAME
            , IFNULL(CHARACTERITEM3,'') AS COLUMNNAME
        FROM
            AM_NAME
        WHERE
            1 = 1
            AND DEPARTMENTCD = #{deptCd}
            AND NAMECLASS = #{nameClass}
        ORDER BY
            NAMECD ASC
    </select>
    <select id="searchAwbNo" parameterType="hashMap" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            AE_HEAD
        WHERE
            AWBNO = #{awbNo}
    </select>
    <update id="updateHeaderData" parameterType="hashMap">
        UPDATE
            AE_DATA AS ED, AE_HEAD AS EH
        SET
            ED.EXPREPORTPLANDATE= #{expReportPlanDate},
            ED.BONWAREHOCURDATE= #{bonWareHoCurDate},
            ED.INHOUSEREFNUMBER= #{inHouseRefNumber},
            ED.CUSTOMSPLACECD= #{customsPlaceCd},
            ED.BONDEDWAREHOUSECD= #{bondedWareHouseCd},
            ED.DEPPORT= #{depPort},
            ED.REPORTCONDITION= #{reportCondition},
            ED.UPDATEUSERCD= #{updateUserCd},
            ED.UPDATEDATE = #{updateDate},
            EH.BONDEDWAREHOUSECD= #{bondedWareHouseCd},
            EH.DEPPORTCD= #{depPort},
            EH.REPORTCONDITION= #{reportCondition},
            EH.UPDATEUSERCD= #{updateUserCd},
            EH.UPDATEDATE= #{updateDate}
        WHERE
            ED.AWBNO = #{awbNo}
            AND EH.AWBNO = #{awbNo}
    </update>
    <select id="getListHeader" parameterType="hashMap" resultType="hashMap">
        SELECT
            NAMECD AS VALUE , NAME AS OPTION
        FROM
            AM_NAME
        WHERE
            NAMECLASS = #{class}
        <if test ="deptCd != '' and deptCd != null " >
            AND DEPARTMENTCD = #{deptCd}
        </if>
    </select>
    <delete id="deleteExportData">
        DELETE
            D,R,S,SH
        FROM
            AE_DATA AS D
        LEFT JOIN
            AE_DATA_DETAIL AS R
        ON
            D.CWBNO = R.CWBNO
        LEFT JOIN
            AE_STATUS AS S
        ON
            D.CWBNO = S.CWBNO
            AND D.AWBNO = S.AWBNO
        LEFT JOIN
            AE_STATUS_HISTORY AS SH
        ON
            D.CWBNO = SH.CWBNO
            AND D.AWBNO = SH.AWBNO
        WHERE
            D.AWBNO = #{awbNo}
            AND D.CWBNO = #{cwbNo}
    </delete>
    <update id="changeColumnValue" parameterType="com.kse.wmsv2.oa_et_001.dto.OAET001UpdateCheckBoxDto">
        UPDATE
            AE_DATA
        SET
        <if test=" targetCol == 'eda' ">
            <choose>
                <when test=" setVal == 0 ">
                    ESAFLG = '1'
                </when>
                <otherwise>
                    ESAFLG = '2'
                </otherwise>
            </choose>
        </if>
        <if test=" targetCol != 'eda'">
            ${targetCol} = #{setVal}
        </if>
        WHERE
            CWBNO = #{cwbNo}
    </update>
</mapper>
