<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kse.wmsv2.oc_cm_001.mapper.TraderNoMasterAmCustomerImageMapper">

   <select id="getListImageTraderNoMaster" parameterType="com.kse.wmsv2.oc_cm_001.dto.ImageTraderNoMasterDto" resultMap="amCustomerImage">
          SELECT 
               CUSTOMERNO,
               SEQ,
               IMAGENAME,
               IMAGEPATH,
               REGUSERCD,
               REGDATE,
               UPDATEUSERCD,
               UPDATEDATE
          FROM AM_CUSTOMER_IMAGE
          WHERE 1 = 1
          AND CUSTOMERNO = #{customerNo}
          ORDER BY SEQ 
  </select>

  <delete id="deleteImageTraderNoMaster" parameterType="com.kse.wmsv2.oc_cm_001.dto.ImageTraderNoMasterDto">
          DELETE FROM AM_CUSTOMER_IMAGE
          WHERE CUSTOMERNO = #{customerNo}
          AND SEQ = #{seq}
  </delete>
  
  <resultMap id="amCustomerImage" type="com.kse.wmsv2.oc_cm_001.dto.ImageTraderNoMasterDto">
    <result column="CUSTOMERNO" jdbcType="VARCHAR" property="customerNo" />
    <result column="SEQ" jdbcType="VARCHAR" property="seq" />
    <result column="IMAGENAME" jdbcType="VARCHAR" property="imageName" />
    <result column="IMAGEPATH" jdbcType="VARCHAR" property="imagePath" />
    <result column="REGUSERCD" jdbcType="VARCHAR" property="regUserCd" />
    <result column="REGDATE" jdbcType="TIMESTAMP" property="regDate" />
    <result column="UPDATEUSERCD" jdbcType="VARCHAR" property="updateUserCd" />
    <result column="UPDATEDATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <select id="getSeqImageTraderNoMaster" parameterType="java.lang.String" resultType="java.lang.Integer">
          SELECT (IFNULL(MAX(SEQ),0) + 1)
          FROM AM_CUSTOMER_IMAGE oc 
          WHERE CUSTOMERNO = #{customerNo}
  </select>
   <insert id="registImageTraderNoMaster" parameterType="com.kse.wmsv2.oc_cm_001.dto.ImageTraderNoMasterDto">
          INSERT INTO AM_CUSTOMER_IMAGE 
               (CUSTOMERNO,
               SEQ,
               IMAGENAME,
               IMAGEPATH,
               REGUSERCD,
               REGDATE,
               UPDATEUSERCD,
               UPDATEDATE)
          VALUES 
               (
               #{customerNo},
               #{seq},
               #{imageName},
               #{imagePath},
               #{regUserCd},
               #{regDate},
               #{updateUserCd},
               #{updateDate});
     </insert>
</mapper>

 
